#grid > div {
  height: 25px;
  background: #ccc;
  border: 1px solid #aaa;
  box-sizing: border-box;
  float: left;
}

@media all and (min-width: 300px) {
  #grid.cell-300-1 > div {
    width: 100%;
  }
  #grid.cell-300-2 > div {
    width: 50%;
  }
  #grid.cell-300-3 > div {
    width: 33.33333%;
  }
  #grid.cell-300-4 > div {
    width: 25%;
  }
  #grid.cell-300-5 > div {
    width: 20%;
  }
  #grid.cell-300-6 > div {
    width: 16.66667%;
  }
  #grid.cell-300-7 > div {
    width: 14.28571%;
  }
  #grid.cell-300-8 > div {
    width: 12.5%;
  }
  #grid.cell-300-9 > div {
    width: 11.11111%;
  }
  #grid.cell-300-10 > div {
    width: 10%;
  }
  #grid.cell-300-11 > div {
    width: 9.09091%;
  }
  #grid.cell-300-12 > div {
    width: 8.33333%;
  }
  #grid.cell-300-13 > div {
    width: 7.69231%;
  }
  #grid.cell-300-14 > div {
    width: 7.14286%;
  }
  #grid.cell-300-15 > div {
    width: 6.66667%;
  }
  #grid.cell-300-16 > div {
    width: 6.25%;
  }
}

@media all and (min-width: 450px) {
  #grid.cell-450-1 > div {
    width: 100%;
  }
  #grid.cell-450-2 > div {
    width: 50%;
  }
  #grid.cell-450-3 > div {
    width: 33.33333%;
  }
  #grid.cell-450-4 > div {
    width: 25%;
  }
  #grid.cell-450-5 > div {
    width: 20%;
  }
  #grid.cell-450-6 > div {
    width: 16.66667%;
  }
  #grid.cell-450-7 > div {
    width: 14.28571%;
  }
  #grid.cell-450-8 > div {
    width: 12.5%;
  }
  #grid.cell-450-9 > div {
    width: 11.11111%;
  }
  #grid.cell-450-10 > div {
    width: 10%;
  }
  #grid.cell-450-11 > div {
    width: 9.09091%;
  }
  #grid.cell-450-12 > div {
    width: 8.33333%;
  }
  #grid.cell-450-13 > div {
    width: 7.69231%;
  }
  #grid.cell-450-14 > div {
    width: 7.14286%;
  }
  #grid.cell-450-15 > div {
    width: 6.66667%;
  }
  #grid.cell-450-16 > div {
    width: 6.25%;
  }
}

@media all and (min-width: 600px) {
  #grid.cell-600-1 > div {
    width: 100%;
  }
  #grid.cell-600-2 > div {
    width: 50%;
  }
  #grid.cell-600-3 > div {
    width: 33.33333%;
  }
  #grid.cell-600-4 > div {
    width: 25%;
  }
  #grid.cell-600-5 > div {
    width: 20%;
  }
  #grid.cell-600-6 > div {
    width: 16.66667%;
  }
  #grid.cell-600-7 > div {
    width: 14.28571%;
  }
  #grid.cell-600-8 > div {
    width: 12.5%;
  }
  #grid.cell-600-9 > div {
    width: 11.11111%;
  }
  #grid.cell-600-10 > div {
    width: 10%;
  }
  #grid.cell-600-11 > div {
    width: 9.09091%;
  }
  #grid.cell-600-12 > div {
    width: 8.33333%;
  }
  #grid.cell-600-13 > div {
    width: 7.69231%;
  }
  #grid.cell-600-14 > div {
    width: 7.14286%;
  }
  #grid.cell-600-15 > div {
    width: 6.66667%;
  }
  #grid.cell-600-16 > div {
    width: 6.25%;
  }
}

@media all and (min-width: 750px) {
  #grid.cell-750-1 > div {
    width: 100%;
  }
  #grid.cell-750-2 > div {
    width: 50%;
  }
  #grid.cell-750-3 > div {
    width: 33.33333%;
  }
  #grid.cell-750-4 > div {
    width: 25%;
  }
  #grid.cell-750-5 > div {
    width: 20%;
  }
  #grid.cell-750-6 > div {
    width: 16.66667%;
  }
  #grid.cell-750-7 > div {
    width: 14.28571%;
  }
  #grid.cell-750-8 > div {
    width: 12.5%;
  }
  #grid.cell-750-9 > div {
    width: 11.11111%;
  }
  #grid.cell-750-10 > div {
    width: 10%;
  }
  #grid.cell-750-11 > div {
    width: 9.09091%;
  }
  #grid.cell-750-12 > div {
    width: 8.33333%;
  }
  #grid.cell-750-13 > div {
    width: 7.69231%;
  }
  #grid.cell-750-14 > div {
    width: 7.14286%;
  }
  #grid.cell-750-15 > div {
    width: 6.66667%;
  }
  #grid.cell-750-16 > div {
    width: 6.25%;
  }
}

@media all and (min-width: 900px) {
  #grid.cell-900-1 > div {
    width: 100%;
  }
  #grid.cell-900-2 > div {
    width: 50%;
  }
  #grid.cell-900-3 > div {
    width: 33.33333%;
  }
  #grid.cell-900-4 > div {
    width: 25%;
  }
  #grid.cell-900-5 > div {
    width: 20%;
  }
  #grid.cell-900-6 > div {
    width: 16.66667%;
  }
  #grid.cell-900-7 > div {
    width: 14.28571%;
  }
  #grid.cell-900-8 > div {
    width: 12.5%;
  }
  #grid.cell-900-9 > div {
    width: 11.11111%;
  }
  #grid.cell-900-10 > div {
    width: 10%;
  }
  #grid.cell-900-11 > div {
    width: 9.09091%;
  }
  #grid.cell-900-12 > div {
    width: 8.33333%;
  }
  #grid.cell-900-13 > div {
    width: 7.69231%;
  }
  #grid.cell-900-14 > div {
    width: 7.14286%;
  }
  #grid.cell-900-15 > div {
    width: 6.66667%;
  }
  #grid.cell-900-16 > div {
    width: 6.25%;
  }
}

@media all and (min-width: 1100px) {
  #grid.cell-1100-1 > div {
    width: 100%;
  }
  #grid.cell-1100-2 > div {
    width: 50%;
  }
  #grid.cell-1100-3 > div {
    width: 33.33333%;
  }
  #grid.cell-1100-4 > div {
    width: 25%;
  }
  #grid.cell-1100-5 > div {
    width: 20%;
  }
  #grid.cell-1100-6 > div {
    width: 16.66667%;
  }
  #grid.cell-1100-7 > div {
    width: 14.28571%;
  }
  #grid.cell-1100-8 > div {
    width: 12.5%;
  }
  #grid.cell-1100-9 > div {
    width: 11.11111%;
  }
  #grid.cell-1100-10 > div {
    width: 10%;
  }
  #grid.cell-1100-11 > div {
    width: 9.09091%;
  }
  #grid.cell-1100-12 > div {
    width: 8.33333%;
  }
  #grid.cell-1100-13 > div {
    width: 7.69231%;
  }
  #grid.cell-1100-14 > div {
    width: 7.14286%;
  }
  #grid.cell-1100-15 > div {
    width: 6.66667%;
  }
  #grid.cell-1100-16 > div {
    width: 6.25%;
  }
}

@media all and (min-width: 1500px) {
  #grid.cell-1500-1 > div {
    width: 100%;
  }
  #grid.cell-1500-2 > div {
    width: 50%;
  }
  #grid.cell-1500-3 > div {
    width: 33.33333%;
  }
  #grid.cell-1500-4 > div {
    width: 25%;
  }
  #grid.cell-1500-5 > div {
    width: 20%;
  }
  #grid.cell-1500-6 > div {
    width: 16.66667%;
  }
  #grid.cell-1500-7 > div {
    width: 14.28571%;
  }
  #grid.cell-1500-8 > div {
    width: 12.5%;
  }
  #grid.cell-1500-9 > div {
    width: 11.11111%;
  }
  #grid.cell-1500-10 > div {
    width: 10%;
  }
  #grid.cell-1500-11 > div {
    width: 9.09091%;
  }
  #grid.cell-1500-12 > div {
    width: 8.33333%;
  }
  #grid.cell-1500-13 > div {
    width: 7.69231%;
  }
  #grid.cell-1500-14 > div {
    width: 7.14286%;
  }
  #grid.cell-1500-15 > div {
    width: 6.66667%;
  }
  #grid.cell-1500-16 > div {
    width: 6.25%;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  font-family: "helvetica";
  font-size: 14px;
  font-weight: 200;
  background: #ccc;
  color: #222;
  padding: 10px 15px;
  border-radius: 3px;
  transition: all 0.2s;
}

.button:hover {
  background: #bbb;
}

.button.green {
  background: #86c351;
  color: #fff;
}

.button.green:hover {
  background: #78b04a;
}

.button.blue {
  background: #00b3e0;
  color: #fff;
}

.button.blue:hover {
  background: #0097be;
}

.button.red {
  background: #ff5817;
  color: #fff;
}

.button.red:hover {
  background: #da4912;
}
